body{
    font-family: "Merrlweather Sans", sans-serif ;
    margin: 0;
    color:white;
    background: #11121A;
}

*{
    box-sizing: border-box;
}

header{
    background: #1C1C24;
    height:70px;
    display: flex;
    justify-content: center;
    font-size:20px;
    margin-bottom:25px;
}

.header-container{
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 25px;
}
.header-container .logo{
    height: 30px;
    margin-right: 10px;
}
.header-container .logo img{
    height: 100%;
}
.search{
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 25px;
}
.search-container{
    background-color:#1C1C24;
    height: 60px;
    border-radius: 10px;
    border:2px solid #222328;
    display: flex;
    overflow: hidden;
}
.input-container{
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.input-container input{
    flex-grow: 1;
    background-color: transparent;
    border:none;
    outline: none;
    color:white;
    font-size:20px;
    margin-left:20px;
}
.input-container i{
    font-size: 20px;
    margin-left: 25px;
}
.button-container{
    background-color:teal;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2 ease;
    /* border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; */
}
.button-container:hover{
    background-color: #3cd3d3;
}

.jobs-list{
    max-width:1250px;
    width: 100%;
    background-color: #11121A;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 25px;

}
.jobs-list h1{
    margin-left: 25px;
    font-size: 20px;
}
.jobs-container{
    display: grid;
    gap:40px;
    grid-template-columns: repeat(3,1fr);
    background-color: #11121A;
    grid-template-rows: repeat(3,1fr);
}
.job-title{
    background-color: #1C1C24;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 30px;
    transition: transform 0.2s;
}
.job-title:hover{
    transform: scale(1.05);
}
.top{
     /* background-color: ; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.top img{
width: 50px;
height: 50px;
border-radius: 10px;
}

.rolename{
    padding:20px 0px;

}
.rolename span{
    font-size: 20px;
}
.description{
    height: 105px;
    overflow: hidden;
    font-size: 10px;
    color: #969398;
    flex-grow: 1;
}
.buttons{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    color: black;
    height: 45px;
}
.button{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #969398 ;
    background-color: #2E2E39;
    font-size: 14px;
}
.apply-now{
    color:white;
    background-color: teal;
    margin-right: 15px;
}
footer{
    position:absolute;
   bottom:0;
   width:100%;
   height:100px;   
   background:blue;
}


@media screen and (max-width:930px) {
    .jobs-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:630px) {
    .jobs-container{
        grid-template-columns: repeat(1,1fr);
    }
}
